div.sourceCode {
	overflow: hidden !important;
}
code.sourceCode {
	overflow: auto !important;
}
.pic {
    text-align: center;
}
.pic img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
span.math.display {
    display: block;
    max-width: 100%;
    overflow-x: auto;
}
.stackedit__html{
    text-align: justify;
}
.stackedit__html h1, .stackedit__html h2, .stackedit__html h3, .stackedit__html h4, .stackedit__html h5, .stackedit__html h6 {
    text-align: left;
}
.stackedit__right {
    overflow: hidden;
}
@media (max-width: 768px){
    h1 {
        font-size: 1.8em;
    }
}